/** General configurations **/
#skip-link {
  display: none;
}
.inline {
  display: inline-block;
  margin-right: 1em;
}
.inline-block {
  display: inline-block;
  float: none;
}
.center {
  margin-left: auto;
  margin-right: auto;
  float: none;
  clear: both;
}
.block {
  display: block;
}
.clear {
  clear: both;
}
.logo:focus {
  outline: none;
}
.maintenance-page #logo-title img {
  height: 60px;
}
.glyphicon {
  margin-right: 5px;
}
.form-group {
  margin-bottom: 30px;
}
.form-group.error .control-label,
.form-group.error label,
.form-group.has-error .control-label,
.form-group.has-error label {
  color: #ff0039 !important;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}
.btn a,
a.btn {
  color: #fff;
}
/*.ui-datepicker {
  z-index: 999 !important;
}*/
.ajax-progress {
  margin-left: 15px;
}
.node-patient-sheet.node-teaser h2,
.node-och-discharge-report.node-teaser h2,
.node-och-inirep-report node-teaser h2,
.node-ml-discharge-report node-teaser h2,
.node-ml-inirep-report node-teaser h2 {
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
  margin-top: 10.5px;
  margin-bottom: 10.5px;
  font-size: 19px;
  border-bottom: 1px solid #f4a535;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align: left;
}
h1 {
  color: #fcb54d;
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  color: #f4a535;
  text-transform: uppercase;
}
h3 {
  color: #f4a535;
  font-size: 26px;
  font-weight: normal;
  text-align: center;
}
h4 {
  border-bottom: 1px solid #f4a535;
}
h6 {
  text-align: center;
}
a {
  color: #f4a535;
}
a:hover {
  color: #cb841f;
}
.dropdown-menu .dropdown-menu {
  width: 100%;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  color: #cb841f;
}
.dropdown-menu {
  margin: 0;
  border: 0;
  box-shadow: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:visited,
.dropdown-menu > li.active > a,
.dropdown-menu > li.active > a:hover {
  background-color: #f4a535;
}
.main-container {
  min-height: 90vh;
}
.field-group-div {
  padding-bottom: 15px;
}
.form-group:last-child,
.panel:last-child {
  margin-bottom: 15px;
}
.panel-title > a, .panel-title > small,
.panel-title > .small, .panel-title > small > a,
.panel-title > .small > a {
  color: #cb841f;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  transform: translate(0, 100px);
}
.table tbody .checkbox input[type="checkbox"] {
  margin-left: 0;
}
/** Autocomplete widget **/
.form-autocomplete > li:hover {
}
input.form-control,
select.form-control {
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: none;
  -o-transition: none;
  border: 0;
  border-bottom: 1px solid #f4a535;
}
input.form-control:focus,
select.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: none;
  -o-transition: none;
  border: 0;
  border-bottom: 1px solid #4e9f15;
}
/** Inputs and radios buttons **/
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
  background-color: #fcb54d;
  border: 1px solid #ccc;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; /* 2 */
}
input[type="search"]:active {
  border: none;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Custom Checkbox styling */

/* Chrome + Safari + Opera */
.form-type-checkbox,
.form-type-radio {
  display: inline-block;
  margin-right: 15px;
}
@supports (-webkit-appearance:none) {
body .form-type-checkbox input[type=checkbox],
body .form-type-radio input[type=radio] {
  -webkit-appearance:none; /* Safari and Chrome */
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 0.25em;
  padding: 0;
  background: #fff;
  border: 2px solid #999;
  border-radius: 2px;
  width: 16px !important;
  height: 16px !important;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: background 0.5s ease;
  outline: none;
}
body .form-type-radio input[type=radio] {
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 0px #fcb54d;
  transition: box-shadow .1s cubic-bezier(0.28,0.63,0.77,0.17);
}

body .form-type-checkbox input[type=checkbox]:hover,
body .form-type-checkbox input[type=checkbox]:focus,
body .form-type-radio input[type=radio]:hover,
body .form-type-radio input[type=radio]:focus {
  border-color: #999;
  cursor: pointer;
}

body .form-type-checkbox input[type=checkbox]:checked,
body .form-type-checkbox input[type=checkbox]:disabled:checked,
body .form-type-radio input[type=radio]:checked,
body .form-type-radio input[type=radio]:disabled:checked{
  border-color: #999;
}

body .form-type-checkbox input[type=checkbox]:checked,
body .form-type-checkbox input[type=checkbox]:disabled:checked {
  background: url('../images/icons/check.svg') scroll no-repeat 0 0 #fcb54d;
  background-size: 100% 100%;
}

body .form-type-radio input[type=radio]:checked,
body .form-type-radio input[type=radio]:disabled:checked {
  background: #e74424;
  box-shadow: inset 0px 0px 0px 3px #fcb54d;
}

body .form-type-checkbox input[type=checkbox]:disabled,
body .form-type-radio input[type=radio]:disabled {
  opacity: .5;
  background: #fcb54d;
}

body .form-type-checkbox input[type=checkbox]:disabled:hover,
body .form-type-radio input[type=radio]:disabled:hover {
  border-color: #999;
  cursor: default;
  /*cursor: not-allowed;*/
  }
}

body .form-type-checkbox input[type=checkbox]:disabled:checked,
body .form-type-checkbox input[type=checkbox]:disabled:checked:hover,
body .form-type-radio input[type=radio]:disabled:checked,
body .form-type-radio input[type=radio]:disabled:checked:hover {
  background-color: #999;
  border-color: #999;
}


