article { /*font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";*/

margin-top:23px;

}
	
	a { text-decoration: none;}

	header h2 a {
		
		color: #2E8DCA;
		margin-top:23px;
	}
	
	.submitted span {
	color: #666;
	margin-bottom: 20px;
	display: block;
}
	.submitted span a {
	color: #d15353;

	}
	
	fieldset {
	margin-bottom: 35px;
	border: 1px solid #ccc;
		font-size: 15px;
		color: #666;
		
}
	
	.panel-heading {
	background: #f1f1f1;
	color: #2E8DCA;
	padding: 2px 10px;
		
}

	
	fieldset .field-items a {
		color: #d15353;
	} 
	
	
	table {
		border: 1px solid #999;
		padding: 5px;
		font-size: 15px;
		color: #666;
		
	}
	
	table tr td {
		
			border: 1px solid #999;
	}
	
	table tr th {
		
		background: #f1f1f1;
	color: #2E8DCA;
		
		
	}
	
	fieldset .field-items  {
		color: #838383;
	} 
	
	
		.field-label-above {
		margin-bottom: 15px;
		color: #000000;
	}
	
	fieldset .field-items p {
		margin: 0 0px 15px;
	}
